<?xml version="1.0"?>
<appSettings>
  <add key="Errors:IncludeStackTrace" value="true" />

  <add key="ASI:ApplicationName" value="Web API Template"/>

  <add key="EsbConnectionString" value="host=localhost;username=guest;password=guest;loggerName=ESB"/>
  <add key="EsbStatsConnectionString" value="host=localhost;username=guest;password=guest;loggerName=ESB"/>

  <add key="SecurityKeyPath" value="D:\WebSites\LoginKeys\Local\Orders\"/>
  <add key="GlobalSecurityKeyPath" value="D:\WebSites\LoginKeys\Global\"/>

  <add key="HealthCheck:ApplicationOwner" value="application owner DL"/>
  <add key="HealthCheck:PollingInterval" value="5"/>

  <add key="Metrics:ApplicationInsights:InstrumentationKey" value="a5e7d412-4f42-4e2d-a764-1692cf24b7d3"/>
  <add key="Metrics:BufferSize" value="10" />
</appSettings>
